.search-bar {
  display: flex;
  gap: 0.5rem;
  border-radius: 14px;
  font-size: 1rem;
  background-color: white;
  box-shadow: 0 3px 6px #d6dce5;
  overflow: hidden;
  height: 3vh;
}

.search-bar {
    width: 20vw;
    padding: 10px;
}

/* search icon: slightly larger and nudged left */
.search-icon {
  width: 1.4vw;
  transform: translateY(0);
}

.search-bar input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 1rem;
}
